@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        
    </div>
</body>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
    
    <script>
        $(document).ready(function () {
            window.location.href = "#";
        });
</script>
</html>
